/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  img {
    height: 100%;
  }

/* navbar */

.nav{
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    background-color:rgb(44,62,80);
    color:white;
    text-transform: uppercase;
    position: fixed;
    width: 100%;
    padding-left: 7rem;
    padding-right: 7rem;
    height: 6rem;

}

.nav-container{
    padding: 0px !important;
}

.links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    padding:30px;
  }

.links > li {
    margin-right: 20px;
    cursor: pointer;
}


.links > li:last-child {
    margin-right: 0px;
}

.container{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    padding:20px;
}

h1{
    font-weight:bold;
    font-size:30px;
}

/* hero */

.hero{
    background-color: rgb(26,188,156);
    width:100%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    padding: 10rem;
}

.img{
    width:25%;
    height:25%;
}

.h1-hero{
    margin: 2rem;
    font-size: 4rem;
    line-height: 2.75rem;
    color:aliceblue;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.line{
    margin-top: 1rem;
    width: 15%;
    height: 0.3rem;
    border-radius: 1rem;
    margin: 1rem;
}

.white-line{  
    background-color: white; 
}

.colored-line{
    background-color: rgb(44,62,80);
}

.line-container{
    margin: 1rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-self: center;
    justify-content: center;
}

.parg{
    font-size: 1.5rem;
    font-family: var(--bs-body-font-family);
    color: aliceblue;
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    text-align: center !important;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* add images section  */
.h1{
    font-size:3rem;
    line-height: 2rem;
    text-align: center !important;
    margin-bottom: 0 !important;
    padding:30px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.h1-img{
    color:rgb(44,62,80);
}

.portfolio{
    background-color: white;
    width:100%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    padding: 5rem;
}

.cards{
    display:flex;
    justify-content:space-between;
}


/* ABout section */

.about{
    background-color: rgb(26,188,156);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.h1-about{
    color:white;
}

.about-parg{
    display: flex;
    justify-content:space-between;
    flex-direction:row;
    font-size:1.3rem;
    font-weight:400;
    margin-top: 0;
    margin-bottom: 1rem;
    padding:50px;
    color: aliceblue;
    font-family: var(--bs-body-font-family);
    width:50%;
    height: 50%;
}

.btn {
    background-color:transparent;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:20px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-color: rgb(248, 249, 250);
    text-decoration: none;
    border-width: 0.125rem;
    border-style: solid;
}
  
.btn:hover {
    background-color: white;
    color: white;
} 

/* Contact  */

.h1-contact{
  margin:3rem;
}

/* Footer */

.footer-container{
    background-color:rgb(44,62,80);
}
.head{
    font-weight: bolder;
    color: white;
    font-size:1.5rem;
}

.parg-footer{
   color:white;
   font-size:1.2rem;
   font-weight: 300;
   display: block;
   margin-block-start: 1em;
   margin-block-end: 1em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   width:60%;
}

